<div class="botones">
    <button type="button" class="btn btn-success" (click)="onClick($event)" value="viajes">Viajes</button>
    <button type="button" class="btn btn-warning" (click)="onClick($event)" value="gastronomia">Gastronomia</button>
    <button type="button" class="btn btn-info" (click)="onClick($event)" value="ocio">Ocio</button>
    <button type="button" class="btn btn-dark" (click)="onClick($event)" value="todas">Todas las publicaciones</button>
</div>


<div class="posts">
    <div class="post" *ngFor="let post of posts; let indice = index">
        <h3> {{post.titulo}}</h3>
        <p> {{post.texto}} </p>
        <h5> {{post.autor}} </h5>
        <p class="fecha"> {{ post.fecha | date:'dd/MM/yyyy'}}</p>
        <img [src]="post.imagen" alt="">

    </div>
</div>

<div class="botones">
    <button type="button" class="btn btn-secondary btn-lg btn-block" [routerLink]="['/blog/new']">Publica una
        novedad</button>
</div>