.btn.btn-info{
    width: 100%;
    margin-top: 30px;
    font-weight: bolder;
}

.container{
    height: 900px;
    padding-top: 50px;
}

.bi.bi-arrow-return-left{
    size: 15px;
    cursor: pointer;
    color: rgb(43, 171, 251); 
}

.bi.bi-arrow-return-left:hover{
    color: lightskyblue;
    transition: 0.5s;
}

input.ng-valid.ng-touched, textarea.ng-valid.ng-touched, select.ng-valid.ng-touched{
    border-color: rgb(25, 166, 25);
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border-color: tomato;
}

.error{
    color: tomato;
}